version: "3"
services:
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ~/data/db:/data/db
    ports:
      - "27017:27017"
  app:
    container_name: express-mongo
    restart: always
    build: ./
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    links:
      - mongo
    
